{% extends "products/base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="product-detail-wrapper">
    <div class="product-imag">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h1 class="product-name">{{ product.name }}</h1>
        <h2 class="product-category">
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="product-price">${{ product.price }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="add-to-cart-form">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to Cart" class="add-to-cart-btn">
        </form>
        <div class="product-description">
            {{ product.description|linebreaks }}
        </div>
    </div>
</div>
{% endblock %}
