{% extends 'products/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% if category %}
{{ category.name }}
{% else %}
Products
{% endif %}
{% endblock %}

{% block content %}
<div class="category-sidebar">
    <h3 class="sidebar-title">{% trans 'Categories' %}</h3>
    <ul class="category-list">
        <li class="category-item {% if not category %}selected{% endif %}">
            <a href="{% url 'products:product_list' %}">{% trans 'All' %}</a>
        </li>
        {% for c in categories %}
        <li class="category-item {% if category and category.slug == c.slug %}selected{% endif %}">
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}" class="back-to-home"></a>
</div>

<div class="product-list-wrapper">
    <h1 class="product-list-title">
        {% if category %}
        {{ category.name }}
        {% else %}
        {% trans 'Products' %}
        {% endif %}
    </h1>
    <div class="product-grid">
        {% for product in products %}
        <div class="product-item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.jpg' %}{% endif %}" alt="{{ product.name }}" class="product-image">
            </a>
            <a href="{{ product.get_absolute_url }}" class="product-names">{{ product.name }}</a>
            <p class="product-price">{{ product.price }} сум</p>
            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
