<!-- registration/login.html -->
{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
  
  <h2>Login</h2>
  <div>
    <a href="{% url 'signup' %}">Sign Up</a>
  </div>
    <form method="post">
      {% csrf_token %}
      <table>
        {{ form.as_p }}
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" value="Submit"></td>
        </tr>                
      </table>
    </form>
    
</div>
<div class="social_authss">

  <div class="social">
    <ul>
        <li class="facebook">
            <a href="{% url 'social:begin' 'facebook' %}">
                Sign in with Facebook
            </a>
        </li>
        <li class="twitter">
            <a href="{% url 'social:begin' 'twitter' %}">
                Sign in with Twitter
            </a>
        </li>
        <li class="google">
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                Sign in with Google
            </a>
        </li>
    

    </ul>

</div>
</div>
{% endblock %}